body {
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  text-align: center;
  max-width: 800px;
  min-width: 500px;
}

/* Tabela */

td {
  max-width: 200px;
  padding: 0;
}

table {
  margin: 0 auto;
  width: 98%;
}

/* Outros atributos */

p {
  margin-left: 5px;
}

h1 {
  margin: 30px;
  padding-bottom: 30px;
}

h2 {
  background-color: #34a853;
  color: white;
  padding: 10px;
  text-align: left;
}

button {
  margin: 15px;
  padding: 20px;
  text-transform: uppercase;
  background-color: orangered;
  color: white;
  font-size: 1.3em;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  margin: 15px;
  padding: 20px;
}

input {
  border-radius: 5px;
  padding: 7px 0;
  text-align: center;
}

input:hover, 
input:focus {
  transition: 0.5s;
  width: 100%;
  background-color: turquoise;
  cursor: pointer;
}

#resultados td {
  min-width: 50px;
}